<mat-toolbar>
  <span>{{!AM?"Modifiere une Division":"Ajouter un Division"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="serviceds.formDivision" class="normal-form" >
  <mat-grid-list cols="1" rowHeight="300px">

    <mat-grid-tile>


      <div class="controles " style="margin-top: 0px; margin-right: 2%;  margin-left: 9%;">

        <mat-form-field >
          <input formControlName="nom_division"  matInput  placeholder="Nom de division*" >
        </mat-form-field><br>

        <div class="button-row">

          <button mat-raised-button color="primary" *ngIf="AM"  [disabled]="serviceds.formDivision.invalid" (click)="ajouter_division(serviceds.formDivision.value)" >Envoyer</button>
          <button mat-raised-button color="primary" *ngIf="!AM" [disabled]="serviceds.formDivision.invalid" (click)="modifier_division(serviceds.formDivision.value)" >modifier</button>
          <button mat-raised-button color="warn" (click)="onClear()">Supprimer</button>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
