<mat-toolbar>
  <span>{{!AM?"Modifier une consultation":"Ajouter une consultation"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="formarchives.formArchiveC" class="normal-form" >
  <mat-grid-list cols="3" rowHeight="500px">

    <mat-grid-tile>


      <div class="controles " style="margin-top: 0px; margin-right: 2%;  margin-left: 9%;">


        <img [src]="imageUrl"  style="width:250px;height:200px; border: 1px; margin-top:20px ;margin-bottom: 5px">
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          <input #fileInput type="file" (change)="handleFileInput($event.target.files);onFileInput($event)"  style="display:none;" accept="image/*" />
          Choisir une image
        </button>
      </div>
    </mat-grid-tile>


    <mat-grid-tile>



      <div class="controles "  style="margin-top: 12%; margin-left: 2%;margin-right: 9%;">






        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" >

            <ng-container class="matt" matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>N° CNI</mat-header-cell>
              <mat-cell *matCellDef="let docc" >{{docc.id}}</mat-cell>
            </ng-container>

            <ng-container class="matt" matColumnDef="nom_personnel">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nom </mat-header-cell>
              <mat-cell *matCellDef="let docc" >{{docc.nom_personnel}}
              </mat-cell>
            </ng-container>

            <ng-container class="matt" matColumnDef="prenom_personnel">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
              <mat-cell *matCellDef="let docc">{{docc.prenom_personnel}}</mat-cell>
            </ng-container>



            <ng-container class="matt" matColumnDef="details">
              <mat-header-cell *matHeaderCellDef> Plus de détails </mat-header-cell>

              <mat-cell *matCellDef="let docc">
                <button (click)="openDialog(docc.id)" mat-raised-button color="primary">
                  Choisir
                </button>

              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

          </mat-table>
          <mat-paginator [pageSizeOptions]="[2, 4]"></mat-paginator>

        </div><br><br>
      </div>

    </mat-grid-tile>

    <mat-grid-tile>


      <div class="controles " style="margin-top: 0px; margin-right: 2%;  margin-left: 9%;">

        <mat-form-field >
          <input formControlName="cniPersonnel"  matInput  placeholder="CNI" required>
        </mat-form-field><br>


          <input formControlName="etat"  matInput   hidden>

        <mat-form-field >
          <input formControlName="date_sortie"  [matDatepicker]="picker"   matInput placeholder="Date  de Sortie" required >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>

        <mat-form-field >
          <input formControlName="date_recuperation" [matDatepicker]="picker1"   matInput placeholder="Date de Récupération"required >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field><br>





        <div class="button-row">

          <button mat-raised-button color="primary" *ngIf="AM" [disabled]="formarchives.formArchiveC.invalid"
                  (click)="ajouter_ArchiveSR(formarchives.formArchiveC.value)" >Envoyer</button>
          <button mat-raised-button color="primary" *ngIf="!AM" [disabled]="formarchives.formArchiveC.invalid"
                  (click)="modifier_ArchiveSR(formarchives.formArchiveC.value)" >modifier</button>
          <button mat-raised-button color="warn" (click)="onClear()">Supprimer</button>
        </div>

      </div>
    </mat-grid-tile>


  </mat-grid-list>
</form>

<!-- [disabled]="formarchives.formArchive.invalid"-->

