
<div class="card-group" style="margin-left : 20%; margin-top: 5%">
<div class="card-deck" style="width: 350px; height: 450px ; padding-left: 20px; margin-bottom: 20px " >
  <div class="card">
    <img src="../../../assets/img/Ahm-Logo.png" style="width: 100%" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fichier de consultation des archives </h5>
      <hr>
      <p class="card-text">Pour qu'un Personnel arrive à consulter un archive, il faut remplir un fichier.</p>
    </div>
      <button mat-button (click)="openBackDropCustomClass(content)" class="card-footer" >Imprimer</button>
  </div>
</div>

<div class="card-deck" style="width: 350px; height: 450px ; padding-left :20px" >
  <div class="card">
    <img src="../../../assets/img/Ahm-Logo.png" style="width: 100%" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fichier de versement aux archives </h5>
      <hr>
      <p class="card-text">Pour qu'un Personnel arrive à verser un archive, il faut remplir un fichier.</p>
    </div>
    <button mat-button (click)="openBackDropCustomClass(content1)" class="card-footer" >Imprimer</button>
  </div>
</div>

  <div class="card-deck" style="width: 350px; height: 450px ; padding-left: 20px;" >
    <div class="card">
      <img src="../../../assets/img/Ahm-Logo.png" style="width: 100%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Informations</h5>
        <hr>
        <p class="card-text">Le CRI de l’Oriental offre une structure souple et réactive, ainsi qu’il donne l’accès à des informations détaillées, une obtention rapide à tous les
          services dont l’investisseur a besoin en vue d’accélérer les démarches administratives nécessaires à son implantation.</p>
      </div>
    </div>
  </div>
</div>



<!-- valider la demande et imprimer -->

<ng-template #content id="content" let-c="close" let-d="dismiss">

  <div class="modal-body" id="print" >
    <app-consultation-impri></app-consultation-impri>
  </div>
  <div class="modal-footer " >
    <div class="btn-group button-row2" role="group" aria-label="Basic example">
      <button type="button" name="button" class="btn btn-success" (click)="t(id_docc,d)">
        <i class="fa fa-print fa-fw"></i>Confirmer la validation
      </button>
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">Annuler</button>
    </div>
  </div>
</ng-template>


<!-- valider la demande et imprimer -->

<ng-template #content1 id="content1" let-c="close" let-d="dismiss">

  <div class="modal-body"  id="print">
    <app-versement-impri></app-versement-impri>
  </div>
  <div class="modal-footer " >
    <div class="btn-group button-row2" role="group" aria-label="Basic example">
      <button type="button" name="button" class="btn btn-success" (click)="t(id_docc,d)">
        <i class="fa fa-print fa-fw"></i>Confirmer la validation
      </button>
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">Annuler</button>
    </div>
  </div>
</ng-template>
