
<div class="card-deck" style="width: 350px; height: 450px ; margin : 20%;" >
  <div class="card">
    <img src="../../../assets/img/Ahm-Logo.png" style="width: 100%" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fichier de consultation des archive </h5>
      <hr>
      <p class="card-text">Pour que un Personnel arrive a consulter un archive il faux donc remplir un fichier qui contient vot information.</p>
    </div>
      <button mat-button class="card-footer" >Click me!</button>
  </div>
</div>

