<div style=" height: 550px;  width: auto;">
<div>

  <button (click)="Ajouterpopup()" mat-raised-button>
    <mat-icon>add</mat-icon>
    Ajouter
  </button>

  <mat-form-field style="width: 300px ;padding-left: 3%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>
</div>


<div class="mat-elevation-z8" >
  <mat-table [dataSource]="dataSource" matSort matSortActive="pseuso" matSortDirection="asc" >

    <ng-container class="matt" matColumnDef="cni">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CNI</mat-header-cell>
      <mat-cell *matCellDef="let docc" >{{docc.cni}}</mat-cell>
    </ng-container>


    <ng-container class="matt" matColumnDef="pseudo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pseudo</mat-header-cell>
      <mat-cell *matCellDef="let docc" >{{docc.pseudo}}</mat-cell>
    </ng-container>



    <ng-container class="matt" matColumnDef="actived">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Activer</mat-header-cell>
      <mat-cell *matCellDef="let docc" >
        <p *ngIf="docc.actived == true">Oui</p>
        <p *ngIf="docc.actived == false">Non</p>
      </mat-cell>
    </ng-container>

    <ng-container class="matt" matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>role</mat-header-cell>
      <mat-cell *matCellDef="let docc">{{docc.role.roleName}}</mat-cell>
    </ng-container>



    <ng-container class="matt" matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>



      <mat-cell *matCellDef="let docc">
        <button mat-icon-button color="primary" (click)="onEdit(docc)"><mat-icon>launch</mat-icon></button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[4, 8]" showFirstLastButtons></mat-paginator>

</div>

</div>
