<span style="font-size: 40px ; margin-left: 10px" class="lead">Paramétres</span>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Personnel"><ng-template matTabContent> <app-personnel></app-personnel></ng-template> </mat-tab>
  <mat-tab label="Utilisateur"> <ng-template matTabContent><app-utilisateur></app-utilisateur> </ng-template> </mat-tab>
  <mat-tab label="Division/Service"><ng-template matTabContent> <app-division-service></app-division-service></ng-template> </mat-tab>
</mat-tab-group>
