
<header style="height:80px; margin-bottom: 20px">
  <div style="width:20%;float:left">
    <img [src]="imageUrl2" style="width:80px;height:30px; border: 1px; margin-top:10px ;margin-bottom: 5px"><br>
    <p style="font-size: 10px; text-align: center;margin-bottom: 10px;"> Centre régional d'investissement </p>

  </div>
  <br>


  <div style="width:70%;float:left;text-align:center;font-size: 30px; ">
    Fiche de consultation des archives <br><br>
  </div>
</header>

<br>
<table width="100%" style="margin-top: 10px;">
<p style="width: 100%; border: 1px solid;
background-color:lightgray;margin-top: 20px;margin-bottom: 10px;padding-left: 2px">Nombre de dossiers :</p>
</table>
<table  border="1" width="100%" cellspacing="0">
  <tr>
    <td style="width: 600px;height: 100px">
      Service/département demandeur : <br>
      Nom & Prénom :
    <td style="width: 400px;">
      Service/département créateur :<br>
      Nom & Prénom du référent :<br>
    </td>
  </tr>
</table>

<div style="width: 100%;height: 200px; border: 1px solid;border-top: 0px;
background-color:lightgray;margin-bottom: 10px;padding-left: 2px">Observations du responsable des archives :</div>



<table  border="1" width="100%" cellspacing="0" >
  <tr >
    <th style="width:70px;">N°d'ordre</th>
    <th style="width:600px;">Date extreme</th>
    <th style="width:600px;">Date de restitution</th>
    <th style=" width:900px;">Intitulé de l'archive</th>
  </tr>


  <tr style="height: 200px;">
    <td width="70px;"></td>
    <td  width="600px;"></td>
    <td width="600px;"></td>
    <td width="900px;"></td>
  </tr>

</table>


  <table border="1"  cellspacing="0" style="margin-top: 10px;">

    <tr >
      <td >Pour décharge <br>Signature du demandeur : <br><br><br>Date : </td>
      <td>Pour aprobation <br>Signature du chef de service/département demandeur : <br><br><br>Date : </td>
      <td>Pour aprobation <br>Signature du chef de service/département créateur :  <br><br><br>Date : </td>
    </tr>



    <tr>
      <td style="width: 250px;">Réception <br>Signature du demandeur : <br><br><br>Date : </td>
      <td colspan="2" style="background-color:lightgray;">Réception <br>Signature du responsable des archives : <br><br><br>Date : </td>
    </tr>


  </table>



























