<header style="border-bottom:1px solid #000;height:100px">
  <div style="border-right: 1px solid black;width:20%;float:left">
    <img [src]="imageUrl2" style="width:90px;height:50px; border: 1px; margin-top:20px ;margin-bottom: 5px">

  </div>
  <div style="width:70%;float:left;text-align:center;font-size: 30px">
      Fiche de renseignement
  </div>
</header>

<div style="padding-left:40px;padding-top:10px;">

  <div style="border: 2px solid ; text-align: center;width: 100%;background-color:lightgray;size: 10px">Etat civil</div>
  <table style="width:100%">
      <tr>
        <td>
          Nom : {{personnel?.nom_personnel}} <br>
          Prénom : {{personnel?.prenom_personnel}} <br>
          N° CIN : {{personnel?.id}} <br>
          Date de naissance :  {{datePipe.transform(personnel?.date_naissances, 'yyyy-MM-dd')}}<br>
          Ville de naissance : {{personnel?.ville_naissance}}<br>
          Natinalité : {{personnel?.nationalite}}<br>
          Situation familiale : {{personnel?.situation_familiale}}
        </td>
        <td>
          <img [src]="imageUrl"  style="width:250px;height:190px; border: 1px; margin-top:20px ;margin-bottom: 5px">
        </td>

  </table>


  <div style="border: 2px solid ; text-align: center;width: 100%;background-color:lightgray;size: 10px">Coordonnées</div>


  <table style="width:100%">
    <tr colspan ="2">
      <td>
        Adresse : {{personnel?.adresse}}
      </td>
    </tr>
    <tr>
      <td>
        Ville : {{personnel?.ville}}
      </td>
      <td>
        E-mail : {{personnel?.email}}
      </td>
    </tr>
    <tr>
      <td>
        Téléphone mobile : {{personnel?.tel}}
      </td>
    </tr>
  </table>





</div>


